In [6]:
#1: Unique Words in a Sentence
s="python is easy and python is powerful"
words=s.split()
unique_words=set(words)
print("Unique words count: ",len(unique_words))
print("Unique words: ",unique_words)

Unique words count:  5
Unique words:  {'and', 'powerful', 'easy', 'is', 'python'}

In [9]:
#2: Highest Salary from Employee Data
emp={"Ravi": 75000, "Anita": 68000, "Kiran": 72000}
highest_salary=0
name=""
for n, salary in emp.items():
    if salary>highest_salary:
        highest_salary=salary
        name=n
print("Highest Salary: ", name, "-", highest_salary)

Highest Salary:  Ravi - 75000

In [14]:
#3: Find Maximum and Minimum Values
numbers=[45, 22, 89, 10, 66]
maximum=numbers[0]
minimum=numbers[0]
for num in numbers:
    if num>maximum:
        maximum=num
    elif num<minimum:
        minimum=num
print("List: ", numbers)
print("Max: ", maximum)
print("Min: ", minimum)

List:  [45, 22, 89, 10, 66]
Max:  89
Min:  10

In [15]:
#4: Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count=0
for price in prices:
    if price>1000:
        count+=1
print("Products above 1000: ", count)

Products above 1000:  2

In [17]:
#5: Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]
count=0
for a in attendance:
    if a=="P":
        count+=1
percent=(count/5)*100
print("Attendance Percentage: ", percent)

Attendance Percentage:  80.0

In [18]:
#6: Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phone_numbers=set(phone_numbers)
print("Unique phone numbers: ", unique_phone_numbers)

Unique phone numbers:  {9876543210, 9123456789}

In [19]:
#7: Count Character Frequency
str="python"
count={}
for ch in str:
    if ch in count:
        count[ch]+=1
    else:
        count[ch]=1
print(count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [20]:
#8: Convert List to Tuple
list1=[10,20,30,40]
t=tuple(list1)
print("Tuple: ", t)

Tuple:  (10, 20, 30, 40)

In [22]:
#9: Check if a Key Exists in a Dictionary
dict1={"Employee_name":"Rishabh", "Salary":26000, "Department":"IT"}
key="Employee_name"
if key in dict1:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [23]:
#10: Calculate Average Marks
marks=[30,49,38,67,38,95,37,40,85,78]
avg=(sum(marks))/10
print("Average marks: ", avg)

Average marks:  55.7